@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

header {
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-wrap {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
}
.content-wrap aside {
  flex: 1 1 250px;
  max-width: 250px;
  padding-right: 16px;
}
.content-wrap aside nav {
  padding-left: 16px;
  padding-right: 16px;
}
.content-wrap aside nav h3 {
  color: #313131;
  font-size: 24px;
  margin-bottom: 16px;
}
.content-wrap aside nav a {
  display: block;
  padding: 8px 16px;
  text-align: left;
  color: #888;
  font-size: 16px;
  margin-bottom: 16px;
  background-color: #EEE;
  border-radius: 999px;
  text-decoration: none;
  transition: 0.4s;
}
.content-wrap aside nav a:hover {
  background-color: #313131;
  color: #AAA;
}
.content-wrap main {
  flex: 1 1 0%;
  padding: 0px 16px;
}
.content-wrap main .main-head {
  display: flex;
  justify-content: flex-end;
}
.content-wrap main .main-head .search-box {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 0%;
}
.content-wrap main .main-head .search-box input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  border-radius: 999px;
  background-color: #EEE;
  transition: 0.4s;
}
.content-wrap main .main-head .search-box input ::-moz-placeholder {
  color: #888;
}
.content-wrap main .main-head .search-box input :-ms-input-placeholder {
  color: #888;
}
.content-wrap main .main-head .search-box input ::placeholder {
  color: #888;
}
.content-wrap main .main-head .search-box input:focus, .content-wrap main .main-head .search-box input:valid {
  background-color: #313131;
  color: #FFF;
}
.content-wrap main .manga-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin: 32px -8px 0px;
}
.content-wrap main .manga-list .manga-card {
  flex: 50%;
  max-width: 250px;
  padding: 16px 8px;
}
.content-wrap main .manga-list .manga-card a {
  text-decoration: none;
}
.content-wrap main .manga-list .manga-card figure {
  display: block;
  margin-bottom: 16px;
  height: 320px;
}
.content-wrap main .manga-list .manga-card figure img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}
.content-wrap main .manga-list .manga-card h3 {
  color: #313131;
  margin-top: 20px;
  margin-bottom: auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}
.content-wrap main .manga-list .manga-card h3:hover {
  color: #ff0000;
  transform: scale(1.02);
}
.content-wrap main .manga-list .manga-card span#chapterName {
  display: inline-block;
  margin-top: 10px;
  background-color: #ebebeb;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 4px 10px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  transition: 0.3s;
}
.content-wrap main .manga-list .manga-card span#chapterName:hover {
  background-color: #ff0000;
}
.content-wrap main .manga-list .manga-card span#chapterUpdateAt {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  font-style: italic;
}
.content-wrap main .manga-list .manga-card:hover figure img {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}

@media screen and (max-width: 1024px) {
  .sidebar {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}/*# sourceMappingURL=main.css.map */